<h2>Forgot Password</h2>
<blockquote><p>Please enter your email address in the form below and you will be sent instructions on resetting your password.</p></blockquote>

<form action="/admin/password" method="post" name="password">
  <fieldset>

    <div class="clearfix">
      <label for="email">Email</label>
      <div class="input">
        <input id="email" name="email" type="email"
               placeholder="mylogin@mydomain.com" class="span8" />
      </div>
    </div>

    <div class="actions">
      <input name="submit" value="Submit" type="submit" class="btn primary" />
      <a href="/admin/session" class="btn pjax">Cancel</a>
    </div>

  </fieldset>
</form>