<h2>Users
  <span class="label notice">
    <a href="/admin/users/new">New</a>
  </span>
</h2>

<blockquote><p>Users are able to add, edit, and delete posts, pages and other users.</p></blockquote>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Last Login</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><a href="<%= admin_user_path(user) %>"><%= user.login %></a></td>
      <td><%= user.name %></td>
      <td><%= short_date(user.login_at) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
