<h1>{{search}}</h1>

<section class="recent">
  
  <table>
    {{^posts}}
    <tr><td>No matches for {{search}}</td></tr>
    {{/posts}}
    {{#posts}}
    <tr>
      <td class="time"><time>{{date}}</time></td>
      <td><a href="{{path}}">{{title}}</a></td>
    </tr>
    {{/posts}}
  </table>

</section>