<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    {{#setting_feedburner}}
    <link rel="alternate" type="application/rss+xml" 
          title="{{site_title}} RSS Feed"
          href="http://feeds.feedburner.com/{{setting_feedburner}}" />
    {{/setting_feedburner}}
    {{^setting_feedburner}}
    <link rel="alternate" type="application/rss+xml" 
          title="{{site_title}} RSS Feed"
          href="http://{{site_domain}}/index.xml" />
    {{/setting_feedburner}}
    <title>{{page_title}}</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {{#setting_analytics}}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{setting_analytics}}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {{/setting_analytics}}
    {{#setting_disqus}}
    <script type="text/javascript">
      var disqus_shortname = '{{setting_disqus}}';
      {{^production}}
        var disqus_developer = true;
      {{/production}}
      (function () {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = 'http://disqus.com/forums/{{setting_disqus}}/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    {{/setting_disqus}}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Articles</a>
      </nav>
      <h1>
        {{#setting_logo}}
          <img src="{{setting_logo}}" alt="{{site_title}} logo" />
        {{/setting_logo}}
        <a href="/">{{site_domain}}</a></h1>
    </header>
    <aside id="message">
      {{#site_location}}
      <p>Current Location: {{{site_map}}}</p>
      {{/site_location}}
      {{^site_location}}
      <p>&nbsp;</p>
      {{/site_location}}
    </aside>
    <section>
      {{{yield}}}
    </section>
    <footer>
      <section class="left">
        <p>
          {{#setting_feedburner}}
          <a href="http://feeds.feedburner.com/{{setting_feedburner}}" 
             rel="alternate" type="application/rss+xml" target="_new">
            <img src="/images/rss.png" alt="rss" />
            RSS
          </a>
          {{/setting_feedburner}}
          
          {{#setting_feedburner}}
          <a href="http://feedburner.google.com/fb/a/mailverify?uri={{setting_feedburner}}&amp;loc=en_US" 
            target="_new">
            <img src="/images/email.png" alt="email" />
            Email
          </a>
          {{/setting_feedburner}}

          {{#setting_facebook}}
          <a href="http://www.facebook.com/pages/{{setting_facebook}}" 
            target="_new">
            <img src="/images/facebook.png" alt="facebook">
            Facebook
          </a>
          {{/setting_facebook}}

          {{#setting_twitter}}
          <a href="http://twitter.com/{{setting_twitter}}" target="_new">
            <img src="/images/twitter.png" alt="twitter">
            Twitter
          </a>
          {{/setting_twitter}}
          
          {{#setting_youtube}}
          <a href="http://www.youtube.com/user/{{setting_youtube}}"
             target="_new">
             <img src="/images/youtube.png" alt="youtube">
             YouTube
          </a>
          {{/setting_youtube}}

          {{#setting_flickr}}
          <a href="http://www.flickr.com/photos/{{setting_flickr}}"
             target="_new">
             <img src="/images/flickr.png" alt="flickr">
             Flickr
          </a>
          {{/setting_flickr}}
          &nbsp;
        </p>
      </section>
      <section class="right">
        <p>&copy; {{site_domain}}</p>
      </section>
    </footer>
  </body>
</html>
