<article class="post">
  <header>
    <h1><a href="{{path}}">{{title}}</a></h1>
    <h2>
      <time>{{date}}</time>
      &middot;
      by {{author}}
      {{#setting_disqus}}
      &middot;
      <a href="{{path}}#disqus_thread"
         data-disqus-identifier="{{slug}}">Comments</a>
      {{/setting_disqus}}
      {{#has_tags?}}
        &middot;
        tags ( {{#tag_list}}<a href="{{path}}">{{tag}}</a>&nbsp;{{/tag_list}})
      {{/has_tags?}}
    </h2>
  </header>

  <section class="content">
    {{{html}}}
  </section>

  {{#setting_disqus}}
  <section class="comments">
    <div id="disqus_thread"></div>
    <noscript>
      Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript={{setting_disqus}}">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com"
      class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </section>
  {{/setting_disqus}}

</article>

<section class="recent">

  <header>
    <h1><a href="/blog">See All Posts >></a></h1>
    <h2>Recent Posts</h2>
  </header>

  <table>
    {{#younger}}
    <tr>
      <td class="time"><time>{{date}}</time></td>
      <td><a href="{{path}}">{{title}}</a></td>
    </tr>
    {{/younger}}
    <tr>
      <td class="time"><time>{{date}}</time></td>
      <td>{{title}}</td>
    </tr>
    {{#older}}
    <tr>
      <td class="time"><time>{{date}}</time></td>
      <td><a href="{{path}}">{{title}}</a></td>
    </tr>
    {{/older}}
  </table>

</section>

{{#setting_disqus}}
<script type="text/javascript">
  var disqus_identifier = '{{slug}}';
  {{^production}}
  var disqus_developer = 1;
  {{/production}}
  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'http://{{setting_disqus}}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{{/setting_disqus}}
