<article class="post">
  <header>
    <h1><a href="{{post_path}}">{{post_title}}</a></h1>
    <h2>
      <time>{{post_date}}</time>
      ·
      by {{post_author}}
      {{#setting_disqus}}
      ·
      <a href="{{post_path}}#disqus_thread">Comments</a>
      {{/setting_disqus}}
    </h2>
  </header>
  
  <section class="content">
    {{{post_html}}}
  </section>
  
  <section class="comments">
    {{#setting_disqus}}
    <div id="disqus_thread"></div>
    <noscript>
      Please enable JavaScript to view the 
      <a href="http://disqus.com/?ref_noscript={{setting_disqus}}">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {{/setting_disqus}}
  </section>
  
</article>

{{#setting_disqus}}
<script type="text/javascript">
  var disqus_identifier = '{{post_slug}}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; 
    dsq.async = true;
    dsq.src = 'http://{{setting_disqus}}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{{/setting_disqus}}
