body {
  padding-top: 60px;
}

.small {
  font-size: 85%;
}

.tiny {
  font-size: 75%;
  font-weight: normal;
}

.xtiny {
  font-size: 60%;
  font-weight: normal;
}

h2.header {
  font-weight: normal;
  text-align: center;
}

h2 a {
  font-weight: normal;
}

div.message {
  width: 350px;
}

span.label {
  padding-right: 10px;
  padding-left: 10px;
}

a.white {
  color: #fff;
}

span.label a {
  color: #fff;
}

table.groups {
  font-size: 125%;
}

/*.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 11000;
  width: 940px;
  margin: -250px 0 0 -250px;
}*/
