<tr>
  <td><a href="/admin/pages/{{page_slug}}">{{page_title}}</a></td>
  <td><a href="/{{page_slug}}?{{timestamp}}" target="_preview">{{page_slug}}</a></td>
  <td>{{page_updated}}</td>
  <td>
	{{#page_home}}<a href="/admin/home/{{page_slug}}" class="delete_prompt" rel="Are you sure you want to unset this page?">Unset</a>{{/page_home}}
	{{^page_home}}<a href="/admin/home/{{page_slug}}" class="put_prompt" rel="Are you sure you want to set this page?">Set</a>{{/page_home}}
   </td>
</tr>
