<article class="post">
  <header>
    <h1>Login to your account</h1>
  </header>
  <section class="content">

    <form action="/admin/session" method="post" name="login">
      <fieldset>
        <p class="settings">
          <label for="login">Login</label>
          <br/>
          <input id="login" name="login" size="30" class="text" type="text"
                 placeholder="Your Login" required /></td>
        </p>
        <p class="settings">
          <label for="password">Password</label>
          <br/>
          <input id="password" name="password" size="30" class="text"
                 type="password" placeholder="Your Password" required />
        </p>
      </fieldset>
      <p>
        <input name="submit" value="Submit" type="submit" class="submit" />
      </p>
    </form>

  </section>
</article>

