<article class="post">
  <header>
    <h1>
      Pages <span class="tiny">(<a href="/admin/pages/new">New</a>)</span>
    </h1>
  </header>
  <section class="content">
    <table>
      <tr>
        <th>Title (edit)</th>
        <th>URL (preview)</th>
        <th>Last Update</th>
		<th>Home</th>
      </tr>
      {{#pages}}{{> _page}}{{/pages}}
    </table>
  </section>
</article>

