<article class="post">
  <header>
    <h1>
      Users
      <span class="tiny">(<a href="/admin/users/new">New</a>)</span>
    </h1>
  </header>
  <section class="content">
    <table>
      <tr>
        <th>Login</th>
        <th>Name</th>
        <th>Last Login</th>
      </tr>
      {{#users}}
      <tr>
        <td>{{{user_login}}}</td>
        <td>{{user_name}}</td>
        <td>{{user_last_login}}</td>
      </tr>
      {{/users}}
    </table>
  </section>
</article>

