<article class="list">
<h2>
  {{search}}
  {{#filtered?}}
    <span class="label notice"><a href="/blog">All</a></span>
  {{/filtered?}}
</h2>

{{#site_has_tags?}}
<section class="tags">
  <blockquote><p>Filter posts by tag:
  {{#site_tags}}
    <a href="{{path}}">{{tag}}</a>{{^last?}}, {{/last?}}
  {{/site_tags}}
  </p></blockquote>
</section>
{{/site_has_tags?}}

<section class="recent">

  <table>
    {{^posts}}
    <tr><td>No matches for {{search}}</td></tr>
    {{/posts}}
    {{#posts}}
    <tr>
      <td class="time"><time>{{date}}</time></td>
      <td><a href="{{path}}">{{title}}</a></td>
    </tr>
    {{/posts}}
  </table>

</section>
</article>
