<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{site_title}}</title>
  <link rel="self" href="http://{{site_domain}}/index.xml" />
  <id>http://{{site_domain}}/</id>
  <updated>{{site_updated}}</updated>
  <author><name>{{site_domain}}</name></author>
  {{#posts}}
  <entry>
    <title>{{title}}</title>
    <link rel="alternate" href="{{path}}"/>
    <id>{{path}}</id>
    <published>{{published}}</published>
    <updated>{{updated}}</updated>
    <author><name>{{author}}</name></author>
    <summary type="html">{{summary}}</summary>
    <content type="html">{{html}}</content>
  </entry>
  {{/posts}}
</feed>
