<article class="post">
  <header>
    <h1><a href="{{path}}">{{title}}</a></h1>
    <blockquote>
    <p>
    <time datetime={{datetime}}>{{date}}</time>
    &middot;
    by {{author}}
    &middot;
    <a href="{{path}}#comments">{{comments_count}} Comments</a>
    {{#has_tags?}}
      &middot;
      {{#tag_list}}
        <a href="{{path}}">{{tag}}</a>{{^last?}},&nbsp;{{/last?}}
      {{/tag_list}}
    {{/has_tags?}}
    </p>
    </blockquote>
  </header>

  <section class="content">
    {{{html}}}
  </section>

  <h3><a href="{{path}}#comments">{{comments_count}} Comments</a></h3>

</article>

<section class="recent">
  <header>
    <h2>More Posts <span class="label notice"><a href="/blog">All</a></span></h2>
  </header>

  <table>
    <tr>
      <td class="time"><time datetime={{datetime}}>{{date}}</time></td>
      <td>{{title}}</td>
    </tr>
    {{#posts}}
    <tr>
      <td class="time"><time datetime={{datetime}}>{{date}}</time></td>
      <td><a href="{{path}}">{{title}}</a></td>
    </tr>
    {{/posts}}
  </table>

</section>
