body {
  padding-top: 60px;
}

div.container {
  width: 990px;
}

a.brand img {
  vertical-align: text-bottom;
}

.small {
  font-size: 85%;
}

.tiny {
  font-size: 75%;
  font-weight: normal;
}

.xtiny {
  font-size: 60%;
  font-weight: normal;
}

div.message {
  width: 350px;
}

span.label {
  padding-right: 10px;
  padding-left: 10px;
}

a.white {
  color: #fff;
}

span.label a {
  color: #fff;
}

article.post h2, article.post h3, article.post h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

article {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

article span.right {
  float: right;
}

article span.right img {
  margin-left: 10px;
}

article span.left {
  float: left;
}

article span.left img {
  margin-right: 10px;
}

footer p.links a {
  margin-left: 1em;
}

footer p.links a img {
  vertical-align: text-bottom;
}

div#main h1 { font-size: 36px; line-height: 36px; }
div#main h2 { font-size: 30px; line-height: 36px; }
div#main h3 { font-size: 24px; line-height: 36px; }
div#main h4 { font-size: 18px; line-height: 18px; }
div#main h5 { font-size: 16px; line-height: 18px; }
div#main p {
  font-size: 17px;
  letter-spacing: normal;
  line-height: 1.25em;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-weight: normal;
  color: #555;
  margin-top: 1em;
}

div#main ul li {
  font-size: 16px;
}

div#main {
  background-color:#f5f5f5;
  margin-bottom:30px;
  padding:25px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border: 1px solid #ccc;
}

div#main img {
  border: 2px solid #999;
  padding: 0px;
}

div#main table, div#main table tr, div#main table tr td, div#main table th {
  border: none;
}

div#main table {
  width: 900px;
}

div#main blockquote {
  border-left: 5px solid #999;
}

section.comments {
  border-top: 1px solid #ccc;
  clear: both;
  margin-top: 50px;
  padding-top: 25px;
}

section.recent td.time {
  width: 200px;
}

section.recent td {
  font-size: 125%;
}