<tr>
  <td>{{post_date}}</td>
  <td>{{post_status}}</td>
  <td><a href="/admin/posts/{{post_slug}}">{{post_title}}</a></td>
  <td><a href="/blog/{{post_slug}}?{{timestamp}}"
         target="_new">{{post_slug}}</a></td>
</tr>