<tr>
  <td><a href="/admin/posts/{{post_slug}}">{{post_title}}</a></td>
  <td><a href="/blog/{{post_slug}}?{{timestamp}}"
         target="{{timestamp}}">{{post_slug}}</a></td>
  <td>{{post_status}}</td>       
  <td>{{post_date}}</td>       
</tr>