<article class="post">
  <header>
    <h1>
      Designs
      <span class="tiny">(<a href="/admin/designs/new">New</a>)</span>
    </h1>
  </header>
  <section class="content">
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Last Update</th>
        <th>Actions</th>
        <th>&nbsp;</th>
      </tr>
      {{#designs}}
      <tr>
        <td>{{{design_name}}}</td>
        <td>{{design_description}}</td>
        <td>{{design_updated}}</td>
        <td>{{{design_status}}}</td>
        <td>{{{design_copy}}}</td>
      </tr>
      {{/designs}}
    </table>
  </section>
</article>

