<article class="post">
  <header>
    <h1>Login to your account</h1>
  </header>
  <section class="content">
    
    <form action="/admin/session" method="post" name="login">
      <fieldset>
        <p>
          <label for="login">Login</label>
          <br/>
          <input id="login" name="login" size="30" 
                 placeholder="Your Login" required />
        </p>
        <p>
          <label for="password">Password</label>
          <br/>
          <input id="password" name="password" size="30" 
                 type="password" placeholder="Your Password" required />
        </p>
        <p>
          <input name="submit" value="Submit" type="submit" class="submit" />
        </p>
      </fieldset>
    </form>

  </section>
</article>

