<article class="post">
  <header>
    <h1>
      {{page_header}}
      <span class="tiny">({{^new_post}}<a href="/blog/{{post_slug}}?{{timestamp}}" target="{{timestamp}}">Preview</a> | {{/new_post}}<a href="/admin/posts" >Cancel</a>)</span>
    </h1>
  </header>
  <section class="content">
    
    <form action="{{page_action}}" method="post" name="login">
    <input type="hidden" name="_method" value="{{page_method}}" />

      <fieldset>
        <p>
          <label for="title">Title</label>
          <span class="error">{{post_title_error}}</span>
          <br/>
          <input id="title" name="post[title]" placeholder="Page Title" 
                 class="text" value="{{post_title}}" />
        </p>

        <p>
          <label for="date">Date
            <span class="small">(Pending = Empty or Future Date)</span>
          </label>
          <span class="error">{{post_date_error}}</span>
          <br/>
          <input id="date" name="post[published_at]" 
                 placeholder="now, this friday, tomorrow at 7pm" 
                 class="text" value="{{post_date}}" />
        </p>

        <p>
           <label for="author">Author</label>
           <span class="error">{{post_author_error}}</span>
           <br/>
           <input id="author" name="post[author]" placeholder="The Author" 
                   class="text" value="{{post_author}}" />
        </p>
        
        <p>
           <label for="author">Tags</label>
           <span class="error">{{post_tags_error}}</span>
           <br/>
           <input id="author" name="post[tags]" placeholder="tag1, tag2" 
                   class="text" value="{{post_tags}}" />
         </p>

        <p>
          <label for="title">Body</label>
          <span class="small">
          (<a href="http://redcloth.org/hobix.com/textile/quick.html"
              target="{{timestamp}}">Cheatsheet</a> |
          <a href="http://redcloth.org/textile" 
             target="{{timestamp}}">Documentation</a>)
          </span>
          <span class="error">{{post_body_error}}</span>
          <br/>
          <textarea id="body" name="post[body]" 
                    placeholder="This is the main content of the page."
                    class="large-area">{{{post_body}}}</textarea>     
        </p>

        <p>
          <input name="submit" value="Submit" type="submit" class="submit" />
          |
          <a href="/admin/posts">Cancel</a>
          {{^new_post}}
          |
          <a href="/admin/posts/{{post_slug}}" class="delete_prompt"
             rel="Are you sure you want to delete this post?">Delete</a>
          {{/new_post}}
        </p>
      </fieldset>
      
    </form>

  </section>
</article>

