<script type='text/javascript'>
  $(document).ready(function() {
    $("a#add").click(function() {
      $("#setting").toggle("fast");
      return false;
    })
  });
</script>

<article class="post">
  <header>
    <h1>
      Settings
      <span class="tiny">(<a id="add" href="#">Add</a>)</span>
    </h1>
  </header>
  <section class="content">
    <aside id="setting" style="display: none; margin: 15px 0 15px 0;">
      <form action="/admin/settings" method="post" name="setting">
        <fieldset style="padding: 15px">
          <label for="setting-name">Name</label>
          <input id="setting-name" name="setting[name]" 
                 placeholder="name" class="text" value="" />

          <label for="setting-value" style="margin-left: 15px">Value</label>
          <input id="setting-value" name="setting[value]"
                 placeholder="value" class="text" value="" />
          
          <input type="submit" name="submit" value="Add" 
                 style="margin-left: 15px"/>           
        </fieldset>
      </form>
    </aside>
    <form action="/admin/settings" method="post" name="settings">
      <input type="hidden" name="_method" value="put" />
      <fieldset>
        <p class="settings">
          <label for="logo">Time Zone</label><br/>
          <select name="site[timezone]" class="text">
            {{#timezones}}{{{option}}}{{/timezones}}
          </select>
        </p>
        <p class="settings">
          <label for="title">Title</label><br/>
          <input id="title" name="site[title]" placeholder="Site Title"
                 class="text" value="{{site_title}}" />
        </p>
        <p class="settings">
          <label for="domain">Domain</label><br/>
          <input id="domain" name="site[domain]" placeholder="mydomain.com" 
                 class="text" value="{{site_domain}}" />
        </p>
        <p class="settings">
          <label for="location">Location</label><br/>
          <input id="location" name="site[location]" placeholder="City, ST" 
                 class="text" value="{{site_location}}" />
        </p>
        <p class="settings">
          <label for="cache">Cache (in seconds)</label><br/>
          <input id="logo" name="site[cache]" placeholder="300" 
                 class="text" value="{{site_cache}}" />
        </p>
        {{#site_settings}}
          <p class="settings">
            <label for="{{name}}">{{name}} 
              <span class="small">
                (<a href="/admin/settings/{{name}}" 
                    class="delete_prompt"
                    rel="Delete this setting?">x</a>)
              </span>
            </label>
            <br/>
            <input id="{{name}}" name="site[settings][{{name}}]" 
                   placeholder="{{name}}" 
                   class="text" value="{{value}}" />
          </p>
        {{/site_settings}}
        <p style="clear: both;">
          <input name="submit" value="Submit" type="submit" class="submit" />
        </p>
      </fieldset>
    </form>

  </section>
</article>

