<article class="post">
  <header>
    <h1>Templates</h1>
  </header>
  
  <section class="content">
    
    <p>
      Each template is able to use certain mustache variables to provide
      content.  Site-wide variables are accessible on every template. If
      you don't see a specific template below, it means that only the
      site-wide variables can be used on that template.
    </p>
    
    <p>
      Please refer to the Mustache documentation for more explanation on 
      how to use variables in your templates. You can find the Mustache
      documentation with more details at:
      <a href="http://mustache.github.com/mustache.5.html"
         target="_help">http://mustache.github.com/mustache.5.html</a>
    </p>

    <h3>Site-wide Variables</h3>
    <ul>
      <li>setting_xxxx: variables added in the Settings panel, prefixed by _setting</li>
      <li>site_domain: domain of the site (eg: mydomain.com)</li>
      <li>site_title: title of site</li>
      <li>site_location: location of the site or authors of the site</li>
      <li>site_map: link to a google map view based on the site_location</li>
      <li>site_has_tags?: boolean indicating if there are any tags</li>
      <li>site_tags: an array of tags associated with this post</li>
        <ul>
          <li>tag: name of tag</li>
          <li>path: path to a list of all posts with this tag</li>
        </ul>
    </ul>
  
    <h3>Blog Template Variables</h3>
    <ul>
      <li>filtered?: boolean indicating if the search is filtered?</li>
      <li>posts: an array of posts ordered by date</li>
      <ul>
        <li>title: title of the post</li>
        <li>date: date of the post</li>
        <li>path: relative URL to the post</li>
      </ul>
    </ul>

    <h3>Page Template Variables</h3>
    <ul>
      <li>title: title of the Page</li>
      <li>html: full HTML of the page</li>
    </ul>

    <h3>Post Template Variables</h3>
    <ul>
      <li>slug: slug/permalink of the post (eg: 20110103-mypost)</li>
      <li>url: full URL to the post</li>
      <li>path: relative URL to the post</li>
      <li>title: title of the post</li>
      <li>author: author of the post</li>
      <li>html: full HTML of the page</li>
      <li>date: date of the post</li>
      <li>has_tags?: boolean indicating if the post has tags</li>
      <li>tag_list: an array of tags associated with this post</li>
        <ul>
          <li>tag: name of tag</li>
          <li>path: path to a list of all posts with this tag</li>
        </ul>
      <li>younger: an array of recent younger posts ordered by date</li>
        <ul>
          <li>title: title of the post</li>
          <li>date: date of the post</li>
          <li>path: relative URL to the post</li>
        </ul>        
      <li>older: an array of recent older posts ordered by date</li>
         <ul>
           <li>title: title of the post</li>
           <li>date: date of the post</li>
           <li>path: relative URL to the post</li>
         </ul>
    </ul>

    <h3>Home Template Variables</h3>
    <ul>
      <li>title: title of the post</li>
      <li>path: relative URL to the post</li>
      <li>author: author of this post</li>
      <li>date: date of the post</li>
      <li>has_tags?: boolean indicating if the post has tags</li>
      <li>tag_list: an array of tags associated with this post</li>
        <ul>
          <li>tag: name of tag</li>
          <li>path: path to a list of all posts with this tag</li>
        </ul>
      <li>posts: an array of recent posts ordered by date</li>
        <ul>
          <li>title: title of the post</li>
          <li>date: date of the post</li>
          <li>path: relative URL to the post</li>
        </ul>
    </ul>

    <h3>Feed Template Variables</h3>
    <ul>
      <li>updated: date of last update to any article</li>
      <li>posts: an array of posts ordered by date</li>
        <ul>
          <li>title: title of the post</li>
          <li>path: full URL to the post</li>
          <li>published: publish date of the post</li>
          <li>updated: last date this post was updated</li>
          <li>author: author of the post</li>
          <li>summary: summary of the post</li>
          <li>html: full html of the post</li>
        </ul>
    </ul>
  </section>
</article>