<h1>
  {{search}}
  {{#filtered?}}
    <span class="tiny">(<a href="/blog">View All</a>)</span>
  {{/filtered?}}
</h1>

{{#site_has_tags?}}
<section class="tags">
  <p>Filter posts by tag:
  {{#site_tags}}
    <a href="{{path}}">{{tag}}</a>{{^last?}},&nbsp;{{/last?}}
  {{/site_tags}}
  </p>
</section>
{{/site_has_tags?}}

<section class="recent">

  <table>
    {{^posts}}
    <tr><td>No matches for {{search}}</td></tr>
    {{/posts}}
    {{#posts}}
    <tr>
      <td class="time"><time>{{date}}</time></td>
      <td><a href="{{path}}">{{title}}</a></td>
    </tr>
    {{/posts}}
  </table>

</section>
