/* SUPPORT HTML5 */
section, article, header, footer, nav, aside, hgroup {
  display: block;
}

/* GLOBAL */
html {
  margin: 0;
  padding: 0;
}

body {
  width: 875px;
  margin: 10px auto;
  color: #444;
  font-size: 16px;
  font-family: Georgia, serif;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #3D3D3D;
}

ul, li {
  padding: 0;
  margin: 5px 0 0 0;
}

li {
  margin-left: 1em;
}

code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}

pre {
  padding: 20px;
}

blockquote {
  font-style: italic;
}

a:link, a:visited {
  color: {{setting_primary_color}};
  text-decoration: none;
}

a:hover, a:active {
  color: {{setting_primary_color}};
  text-decoration: underline;
}

.small {
  color: #666;
  font-size: .9em;
}

.tiny {
  color: #666;
  font-size: .6em;
}

.clear {
  clear: both;
}


/* HEADER */
body > header {
  border-bottom: 1px solid #ccc;
}

body > header h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 1.5em;
}

body > header h1 img {
  border: none;
  vertical-align: middle;
  margin-top: -5px;
}

body > header a:link, body > header a:visited {
  text-decoration: none;
  color: {{setting_primary_color}};
}

body > header a:hover, body > header a:active {
  text-decoration: underline;
  color: {{setting_primary_color}};
}

body > header nav {
  float: right;
  margin-top: 2.0em;
  display: block;
}

body > header nav a {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.0em;
  padding: .25em 0 0 1em;
  font-weight: lighter;
}

body > header nav a:link, body > header nav a:visited {
  color: #777;
}

body > header nav a.active, body > header nav a:hover {
  text-decoration: underline;
}

/* ARTICLE */
article.post h1 a:link, article.post h1 a:visited {
}

article.post h1 a:hover, article.post h1 a:active {
  text-decoration: underline;
}

article.post h1 {
  margin-bottom: 0px;
}

article.post h2 {
  margin-top: 5px;
  font-size: .9em;
  color: #666;
}

article.post header {
  margin-bottom: 10px;
}

article.post {
  margin-bottom: 50px;
}

article.post p {
  text-indent: 0px;
  padding-left: 0;
  color: #444;
}

article span.right {
  float: right;
}

article span.right img {
  margin-left: 10px;
}

article span.left {
  float: left;
}

article span.left img {
  margin-right: 10px;
}

section.tags {
}

/* RECENT */
section.recent header h1 {
  margin: 30px 0;
  padding: 5px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

section.recent header h1 a {
  font-size: .7em;
}

section.recent header h2 {
  font-size: 1.35em;
}

section.recent table td.time {
  padding-left: 10px;
  width: 200px;
}

/* COMMENTS */
section.comments {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

/* ARCHIVES */
section.excerpt {
  margin-left: 25px;
}


/* CUSTOM */
#message a:link, a:visited {
  color: {{setting_primary_color}};
  text-decoration: underline;
}

#message a:hover, a:active {
  color: #222;
  text-decoration: underline;
}

#message p {
  line-height: 2em;
  padding: 0;
  margin: 0;
  text-align: right;
  color: #666;
}

#message p.warning {
  text-align: center;
  background: #FFCC66;
  color: #333;
  font-weight: bold;
}

#message p.notice {
  text-align: center;
  background: #FFF9D4;
  color: #333;
  font-weight: bold;
}

p.settings {
  float: left;
  margin-left: 15px;
}

div.left {
  float: left;
}

div.right {
  float: left;
  margin-left: 100px;
}

div.center {
  text-align: center;
}

input.text {
  width: 250px;
}

select.text {
  width: 256px;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

textarea.small-area {
  width: 800px;
  height: 50px;
}

textarea.large-area {
  width: 800px;
  height: 300px;
}

/* FOOTER */
footer {
  clear: both;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}

footer section.right {
  float: right;
  text-align: right;
  color: #888;
  font-style: italic;
}

footer section.left {
  float: left;
  text-align: left;
  color #444;
}

footer section.center {
  clear: both;
  text-align: center;
  color: #888;
}

footer section.center a {
  margin: 0;
  padding: 0;
  font-style: italic;
}

footer a {
  margin: 0 10px;
}

footer a:hover {
  text-decoration: none;
}

footer img {
  vertical-align: bottom;
  border: 0;
}
